In [3]:
#Example of how to start using google bigquery
#json credential file used below is created at the google cloud platform console
#     Create Service Account, set role as owner, download json key file, link to that file below
#michaelcouch ~ % pip install google-cloud-bigquery
#michaelcouch ~% pip install pandas
#michaelcouch ~% pip install plotly==4.8.1
#virtuanenvname ~% pip install --user ipykernel
#virtualenvname ~% python -m ipykernel install --user --name=virtualevnname
#In jupyter notebook select vitualenvname as kernel

import pandas as pd
import os 
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/michaelcouch/Documents/Data_Analytics/VirtualEnvZone/TestVenv1/dev-smoke-278920-cb67e104d184.json"
# The below lines allow for file paths to be shared on localhost and pythonanywhere server __file__ is a python majic variable 
#THIS_FOLDER = os.path.dirname(os.path.abspath(__file__))
#my_file = os.path.join(THIS_FOLDER,"../dev-smoke-278920-cb67e104d184.json")
#os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = my_file

from google.cloud import bigquery
client = bigquery.Client()

In [4]:
import pandas as pd
from random import random
import plotly.graph_objects as go
from plotly.offline import plot

In [5]:
query="""select * from bigquery-public-data.covid19_usafacts.confirmed_cases 
    WHERE state='WA'
    """
query_job = client.query(query)
casesDf=query_job.to_dataframe()
casesDf.head()

,county_fips_code,county_name,state,state_fips_code,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_7_1_20,_7_2_20,_7_3_20,_7_4_20,_7_5_20,_7_6_20,_7_7_20,_7_8_20,_7_9_20,_7_10_20
0,53029,Island County,WA,53,0,0,0,0,0,0,...,193,195,196,197,198,196,198,199,202,203
1,53071,Walla Walla County,WA,53,0,0,0,0,0,0,...,170,171,176,177,180,187,193,195,199,204
2,53053,Pierce County,WA,53,0,0,0,0,0,0,...,2590,2647,2701,2749,2804,2848,2878,2932,2995,3059
3,53017,Douglas County,WA,53,0,0,0,0,0,0,...,242,253,265,273,279,303,308,325,332,348
4,53011,Clark County,WA,53,0,0,0,0,0,0,...,749,768,790,920,922,933,962,990,1004,1033

In [6]:
# Transpose state data for graphing
casesDf_transp=casesDf.T
casesDf_transp.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
county_fips_code,53029,53071,53053,53017,53011,53035,53057,53077,53033,53025,...,53047,53037,53055,53009,53039,53041,53045,53031,53015,53001
county_name,Island County,Walla Walla County,Pierce County,Douglas County,Clark County,Kitsap County,Skagit County,Yakima County,King County,Grant County,...,Okanogan County,Kittitas County,San Juan County,Clallam County,Klickitat County,Lewis County,Mason County,Jefferson County,Cowlitz County,Adams County
state,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA,...,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA
state_fips_code,53,53,53,53,53,53,53,53,53,53,...,53,53,53,53,53,53,53,53,53,53
_1_22_20,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
	casesDf_transp.columns = casesDf_transp.loc['county_name']  # set county names as column names
	wa_covid_graph_data = casesDf_transp.drop(['county_name', 'state', 'county_fips_code', 'state_fips_code']) # drop rows by name
wa_covid_graph_data.head()

county_name,Island County,Walla Walla County,Pierce County,Douglas County,Clark County,Kitsap County,Skagit County,Yakima County,King County,Grant County,...,Okanogan County,Kittitas County,San Juan County,Clallam County,Klickitat County,Lewis County,Mason County,Jefferson County,Cowlitz County,Adams County
_1_22_20,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
_1_23_20,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
_1_24_20,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
_1_25_20,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
_1_26_20,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
#turn the index into a string to convert to datetime

#chops off first character of index, then converts all underscores _ to slashes /, then converts to date time and
#sets back on index
wa_covid_graph_data.index = pd.to_datetime(wa_covid_graph_data.index.str[1:].str.replace('_','/'))

In [9]:
# Build the graph and show it
xAxis=wa_covid_graph_data.index # set x axis to dates (row indexes)
yAxis=wa_covid_graph_data['King County']   # set y axis to values in King County
fig=go.Figure(data=go.Scatter(x=xAxis, y=yAxis))

#Add titles and legends
fig.update_layout(annotations=[dict(text='Source: USAFacts COVID19 dataset, retrieved from bigquery-public-data.covid19_usafacts.confirmed_cases', 
                                    showarrow=False, 
                                    xref='paper', 
                                    yref='paper', 
                                    x=1, 
                                    y=-.1)],
                 title="Covid Cases")
plt_div = plot(fig)

In [10]:
#Build a map base layer
fig = go.Figure(go.Scattergeo())
fig.update_geos(
    visible=False, resolution=110, scope="usa",
    showcountries=True, countrycolor="Black",
    showsubunits=True, subunitcolor="Blue"
)
fig.update_layout(height=300, margin={"r":0,"t":0,"l":0,"b":0})
plt_div = plot(fig)

In [11]:
#TODO - get state totals on last recorded day, keep FIPs codes and create a chloropleth map of states, 
#then do a county level using legacy plotly's legacy figure factory

#lastRow = casesDf_transp.iloc[[0,-1]] # assign first row and last row to lastRow df
#lastRow.head()

In [12]:
# Get all the data (all states)
query="""select * from bigquery-public-data.covid19_usafacts.confirmed_cases
    """
query_job = client.query(query)
casesDf=query_job.to_dataframe()
casesDf.head()

,county_fips_code,county_name,state,state_fips_code,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_7_1_20,_7_2_20,_7_3_20,_7_4_20,_7_5_20,_7_6_20,_7_7_20,_7_8_20,_7_9_20,_7_10_20
0,11001,Washington,DC,11,0,0,0,0,0,0,...,10365,10390,10435,10447,10482,10515,10569,10642,10743,10801
1,41043,Linn County,OR,41,0,0,0,0,0,0,...,151,154,156,157,157,157,157,165,168,172
2,42101,Philadelphia County,PA,42,0,0,0,0,0,0,...,21724,21862,21885,22016,22016,22014,22302,22392,22553,22735
3,53029,Island County,WA,53,0,0,0,0,0,0,...,193,195,196,197,198,196,198,199,202,203
4,13093,Dooly County,GA,13,0,0,0,0,0,0,...,210,210,211,212,215,212,215,217,218,218

In [13]:
# Transform the full data set to state level and prepare for graph

# Get state totals by state_fips_code AND transpose
state_levelDf=casesDf.groupby(['state']).sum().T
#state_levelDf.head()

# keep only columns and last row (running total)
state_levelDf_total = state_levelDf.iloc[[-1]]
state_levelDf_total.head()
statesDf=state_levelDf_total.T
statesDf.columns = ['Total']
statesDf.head()

# Get the date of the last record and chop off the first character of the string, used in layout
lastUpdated = list(casesDf.columns)[-1][1:].replace('_','/')
statesDf['Total']

state
AK      1319
AL     50508
AR     26803
AZ    116892
CA    311254
CO     36191
CT     47287
DC     10801
DE     12652
FL    244151
GA    112258
HI      1158
IA     34010
ID      9928
IL    151767
IN     50300
KS     18684
KY     18670
LA     74636
MA    111110
MD     71910
ME      3499
MI     75685
MN     40767
MO     26660
MS     34622
MT      1620
NC     81331
ND      4154
NE     20639
NH      5991
NJ    174628
NM     14549
NV     25908
NY    400358
OH     62857
OK     19093
OR     11454
PA     93876
RI     17312
SC     52273
SD      7401
TN     58149
TX    240111
UT     28385
VA     69782
VT      1277
WA     39218
WI     34753
WV      3983
WY      1790
Name: Total, dtype: int64

In [14]:
# Create chloropleth graph map of states with last date collected as the color
fig = go.Figure(data=go.Choropleth(
    locations=statesDf.index, # Spatial coordinates
    z = statesDf['Total'], # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = 'Reds',
    colorbar_title = "Positive Cases",
))

fig.update_layout(
    title_text = 'Total Positive Covid Cases Per State as of {}'.format(lastUpdated),
    geo_scope='north america', # limit map scope to USA
)

StatesMapPlotDiv=plot(fig)

In [15]:
#Create a line graph of all the states over time
# Prepare the data here, graph in next cell

# Use state level df to create a total column, will be used for line graph of US states
state_levelDf['Total'] = state_levelDf.sum(axis=1)

#Convert index into date
state_levelDf.index = pd.to_datetime(state_levelDf.index.str.replace('_','/'))

# Investigate results at this csv if desired
#state_levelDf.to_csv('state_levelDf.csv')

In [16]:
# Build the graph and show it
xAxis=state_levelDf.index # set x axis to dates (row indexes)
yAxis=state_levelDf['Total']   # set y axis to values in King County
fig=go.Figure(data=go.Scatter(x=xAxis, y=yAxis))

#Add titles and legends
fig.update_layout(annotations=[dict(text='Source: USAFacts COVID19 dataset, retrieved from bigquery-public-data.covid19_usafacts.confirmed_cases', 
                                    showarrow=False, 
                                    xref='paper', 
                                    yref='paper', 
                                    x=1, 
                                    y=-.1)],
                 title="Total US Covid Cases")
plt_div = plot(fig)