In [1]:
#Example of how to start using google bigquery
#json credential file used below is created at the google cloud platform console
#     Create Service Account, set role as owner, download json key file, link to that file below
#michaelcouch ~ % pip install google-cloud-bigquery
#michaelcouch ~% pip install pandas
#michaelcouch ~% pip install plotly==4.8.1
#virtuanenvname ~% pip install --user ipykernel
#virtualenvname ~% python -m ipykernel install --user --name=virtualevnname
#In jupyter notebook select vitualenvname as kernel

import pandas as pd
import os 
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/michaelcouch/Documents/Data_Analytics/VirtualEnvZone/TestVenv1/dev-smoke-278920-cb67e104d184.json"
# The below lines allow for file paths to be shared on localhost and pythonanywhere server __file__ is a python majic variable 
#THIS_FOLDER = os.path.dirname(os.path.abspath(__file__))
#my_file = os.path.join(THIS_FOLDER,"../dev-smoke-278920-cb67e104d184.json")
#os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = my_file

from google.cloud import bigquery
client = bigquery.Client()

In [2]:
import pandas as pd
from random import random
import plotly.graph_objects as go
from plotly.offline import plot

In [3]:
query="""select * from bigquery-public-data.covid19_usafacts.confirmed_cases 
    WHERE state='WA'
    """
query_job = client.query(query)
casesDf=query_job.to_dataframe()
casesDf.head()

,county_fips_code,county_name,state,state_fips_code,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_6_23_20,_6_24_20,_6_25_20,_6_26_20,_6_27_20,_6_28_20,_6_29_20,_6_30_20,_7_1_20,_7_2_20
0,53029,Island County,WA,53,0,0,0,0,0,0,...,187,188,191,191,192,192,192,192,193,195
1,53005,Benton County,WA,53,0,0,0,0,0,0,...,1463,1524,1556,1581,1657,1686,1718,1731,1798,1854
2,53073,Whatcom County,WA,53,0,0,0,0,0,0,...,521,554,574,588,599,600,615,622,635,649
3,53033,King County,WA,53,1,1,1,1,1,1,...,9366,9453,9573,9672,9809,9895,10019,10177,10304,10535
4,53077,Yakima County,WA,53,0,0,0,0,0,0,...,6435,6490,6607,6759,6828,6920,7008,7071,7128,7270

In [4]:
# Transpose state data for graphing
casesDf_transp=casesDf.T
casesDf_transp.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
county_fips_code,53029,53005,53073,53033,53077,53061,53035,53063,53057,53021,...,53009,53047,53037,53039,53041,53045,53071,53031,53015,53017
county_name,Island County,Benton County,Whatcom County,King County,Yakima County,Snohomish County,Kitsap County,Spokane County,Skagit County,Franklin County,...,Clallam County,Okanogan County,Kittitas County,Klickitat County,Lewis County,Mason County,Walla Walla County,Jefferson County,Cowlitz County,Douglas County
state,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA,...,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA
state_fips_code,53,53,53,53,53,53,53,53,53,53,...,53,53,53,53,53,53,53,53,53,53
_1_22_20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
	casesDf_transp.columns = casesDf_transp.loc['county_name']  # set county names as column names
	wa_covid_graph_data = casesDf_transp.drop(['county_name', 'state', 'county_fips_code', 'state_fips_code']) # drop rows by name
wa_covid_graph_data.head()

county_name,Island County,Benton County,Whatcom County,King County,Yakima County,Snohomish County,Kitsap County,Spokane County,Skagit County,Franklin County,...,Clallam County,Okanogan County,Kittitas County,Klickitat County,Lewis County,Mason County,Walla Walla County,Jefferson County,Cowlitz County,Douglas County
_1_22_20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_23_20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_24_20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_25_20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_26_20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
#turn the index into a string to convert to datetime TODO 

#chops off first character of index, then converts all underscores _ to slashes /, then converts to date time and
#sets back on index
wa_covid_graph_data.index = pd.to_datetime(wa_covid_graph_data.index.str[1:].str.replace('_','/'))

In [39]:
xAxis=wa_covid_graph_data.index # set x axis to dates (row indexes)
yAxis=wa_covid_graph_data['King County']   # set y axis to values in King County
fig=go.Figure(data=go.Scatter(x=xAxis, y=yAxis))

#Add titles and legends
fig.update_layout(annotations=[dict(text='Source: USAFacts COVID19 dataset, retrieved from bigquery-public-data.covid19_usafacts.confirmed_cases', 
                                    showarrow=False, 
                                    xref='paper', 
                                    yref='paper', 
                                    x=1, 
                                    y=-.1)])
plt_div = plot(fig)