In [1]:
#Example of how to start using google bigquery
#json credential file used below is created at the google cloud platform console
#     Create Service Account, set role as owner, download json key file, link to that file below
#michaelcouch ~ % pip install google-cloud-bigquery
#michaelcouch ~% pip install pandas
#michaelcouch ~% pip install plotly==4.8.1
#michaelcouch ~% pip install plotly-geo     # Used for county level choropleth map
#virtuanenvname ~% pip install --user ipykernel
#virtualenvname ~% python -m ipykernel install --user --name=virtualevnname
#In jupyter notebook select vitualenvname as kernel

#Used for county level choropleth
#$ pip install geopandas==0.3.0
#$ pip install pyshp==1.2.10
#$ pip install shapely==1.6.3

import pandas as pd
import os 
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/michaelcouch/Documents/Data_Analytics/VirtualEnvZone/TestVenv1/dev-smoke-278920-cb67e104d184.json"
# The below lines allow for file paths to be shared on localhost and pythonanywhere server __file__ is a python majic variable 
#THIS_FOLDER = os.path.dirname(os.path.abspath(__file__))
#my_file = os.path.join(THIS_FOLDER,"../dev-smoke-278920-cb67e104d184.json")
#os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = my_file

from google.cloud import bigquery
client = bigquery.Client()

In [2]:
import pandas as pd
from random import random
import plotly.graph_objects as go
from plotly.offline import plot
import plotly.figure_factory as ff # For County level Choropleth Map

In [4]:
query="""select * FROM dev-smoke-278920.COVID_TEST_DATASET.2019_State_Census_Population
    """
query_job = client.query(query)
casesDf=query_job.to_dataframe()
casesDf.head()

        State Initial  Population
0     Alabama      AL     4903185
1      Alaska      AK      731545
2     Arizona      AZ     7278717
3    Arkansas      AR     3017804
4  California      CA    39512223