In [1]:
#Example of how to start using google bigquery
#json credential file used below is created at the google cloud platform console
#     Create Service Account, set role as owner, download json key file, link to that file below
#michaelcouch ~ % pip install google-cloud-bigquery
#michaelcouch ~% pip install pandas
#michaelcouch ~% pip install plotly==4.8.1
#michaelcouch ~% pip install plotly-geo     # Used for county level choropleth map
#virtuanenvname ~% pip install --user ipykernel
#virtualenvname ~% python -m ipykernel install --user --name=virtualevnname
#In jupyter notebook select vitualenvname as kernel

#Used for county level choropleth
#$ pip install geopandas==0.3.0
#$ pip install pyshp==1.2.10
#$ pip install shapely==1.6.3

import pandas as pd
import os 
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/michaelcouch/Documents/Data_Analytics/VirtualEnvZone/TestVenv1/dev-smoke-278920-cb67e104d184.json"
# The below lines allow for file paths to be shared on localhost and pythonanywhere server __file__ is a python majic variable 
#THIS_FOLDER = os.path.dirname(os.path.abspath(__file__))
#my_file = os.path.join(THIS_FOLDER,"../dev-smoke-278920-cb67e104d184.json")
#os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = my_file

from google.cloud import bigquery
client = bigquery.Client()

In [2]:
import pandas as pd
from random import random
import plotly.graph_objects as go
from plotly.offline import plot
import plotly.figure_factory as ff # For County level Choropleth Map

In [3]:
query="""select * from bigquery-public-data.covid19_usafacts.confirmed_cases 
    WHERE state='WA'
    """
query_job = client.query(query)
casesDf=query_job.to_dataframe()
casesDf.head()

,county_fips_code,county_name,state,state_fips_code,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_7_9_20,_7_10_20,_7_11_20,_7_12_20,_7_13_20,_7_14_20,_7_15_20,_7_16_20,_7_17_20,_7_18_20
0,53029,Island County,WA,53,0,0,0,0,0,0,...,202,203,203,206,206,206,209,209,212,214
1,53033,King County,WA,53,1,1,1,1,1,1,...,11419,11568,11568,11825,12077,12213,12325,12325,12766,12953
2,53053,Pierce County,WA,53,0,0,0,0,0,0,...,2995,3059,3059,3185,3257,3312,3395,3395,3560,3643
3,53057,Skagit County,WA,53,0,0,0,0,0,0,...,571,573,573,605,619,627,644,644,657,669
4,53061,Snohomish County,WA,53,0,0,0,0,0,0,...,3819,3859,3859,3966,4033,4072,4122,4122,4238,4307

In [4]:
# Transpose state data for graphing
casesDf_transp=casesDf.T
casesDf_transp.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
county_fips_code,53029,53033,53053,53057,53061,00000,53005,53017,53021,53001,...,53007,53037,53031,53011,53063,53077,53067,53073,53025,53035
county_name,Island County,King County,Pierce County,Skagit County,Snohomish County,Statewide Unallocated,Benton County,Douglas County,Franklin County,Adams County,...,Chelan County,Kittitas County,Jefferson County,Clark County,Spokane County,Yakima County,Thurston County,Whatcom County,Grant County,Kitsap County
state,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA,...,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA
state_fips_code,53,53,53,53,53,53,53,53,53,53,...,53,53,53,53,53,53,53,53,53,53
_1_22_20,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
	casesDf_transp.columns = casesDf_transp.loc['county_name']  # set county names as column names
	wa_covid_graph_data = casesDf_transp.drop(['county_name', 'state', 'county_fips_code', 'state_fips_code']) # drop rows by name
wa_covid_graph_data.head()

county_name,Island County,King County,Pierce County,Skagit County,Snohomish County,Statewide Unallocated,Benton County,Douglas County,Franklin County,Adams County,...,Chelan County,Kittitas County,Jefferson County,Clark County,Spokane County,Yakima County,Thurston County,Whatcom County,Grant County,Kitsap County
_1_22_20,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_23_20,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_24_20,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_25_20,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
_1_26_20,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#turn the index into a string to convert to datetime

#chops off first character of index, then converts all underscores _ to slashes /, then converts to date time and
#sets back on index
wa_covid_graph_data.index = pd.to_datetime(wa_covid_graph_data.index.str[1:].str.replace('_','/'))

In [7]:
# Build the graph and show it
xAxis=wa_covid_graph_data.index # set x axis to dates (row indexes)
yAxis=wa_covid_graph_data['King County']   # set y axis to values in King County
fig=go.Figure(data=go.Scatter(x=xAxis, y=yAxis))

#Add titles and legends
fig.update_layout(annotations=[dict(text='Source: USAFacts COVID19 dataset, retrieved from bigquery-public-data.covid19_usafacts.confirmed_cases', 
                                    showarrow=False, 
                                    xref='paper', 
                                    yref='paper', 
                                    x=1, 
                                    y=-.1)],
                 title="Covid Cases")
plt_div = plot(fig)

In [8]:
#Build a map base layer
fig = go.Figure(go.Scattergeo())
fig.update_geos(
    visible=False, resolution=110, scope="usa",
    showcountries=True, countrycolor="Black",
    showsubunits=True, subunitcolor="Blue"
)
fig.update_layout(height=300, margin={"r":0,"t":0,"l":0,"b":0})
plt_div = plot(fig)

In [9]:
#TODO - get state totals on last recorded day, keep FIPs codes and create a chloropleth map of states, 
#then do a county level using legacy plotly's legacy figure factory

#lastRow = casesDf_transp.iloc[[0,-1]] # assign first row and last row to lastRow df
#lastRow.head()

In [10]:
# Get all the data (all states)
query="""select * from bigquery-public-data.covid19_usafacts.confirmed_cases
    """
query_job = client.query(query)
casesDf=query_job.to_dataframe()
casesDf.head()

,county_fips_code,county_name,state,state_fips_code,_1_22_20,_1_23_20,_1_24_20,_1_25_20,_1_26_20,_1_27_20,...,_7_9_20,_7_10_20,_7_11_20,_7_12_20,_7_13_20,_7_14_20,_7_15_20,_7_16_20,_7_17_20,_7_18_20
0,01073,Jefferson County,AL,01,0,0,0,0,0,0,...,6092,6283,6504,6823,7091,7265,7540,7540,8201,8499
1,04013,Maricopa County,AZ,04,0,0,0,0,1,1,...,73165,76328,78481,80146,81216,84233,86483,88954,91863,93870
2,00000,Statewide Unallocated,AR,05,0,0,0,0,0,0,...,935,966,1048,1073,1121,1043,1049,1049,1099,1123
3,06001,Alameda County,CA,06,0,0,0,0,0,0,...,7407,7485,7725,7725,7976,8321,8478,8627,8858,9110
4,06013,Contra Costa County,CA,06,0,0,0,0,0,0,...,4357,4460,4605,4661,4852,5023,5140,5233,5378,5538

In [11]:
# Transform the full data set to state level and prepare for graph

# Get state totals by state_fips_code AND transpose
state_levelDf=casesDf.groupby(['state']).sum().T
#state_levelDf.head()

# keep only columns and last row (running total)
state_levelDf_total = state_levelDf.iloc[[-1]]
state_levelDf_total.head()
statesDf=state_levelDf_total.T
statesDf.columns = ['Total']
statesDf.head()

# Get the date of the last record and chop off the first character of the string, used in layout
lastUpdated = list(casesDf.columns)[-1][1:].replace('_','/')
statesDf['Total']

state
AK      1849
AL     65234
AR     32533
AZ    141265
CA    379114
CO     39788
CT     47893
DC     11261
DE     13429
FL    337569
GA    139872
HI      1354
IA     37904
ID     14302
IL    160610
IN     55654
KS     22148
KY     22184
LA     88590
MA    113238
MD     78131
ME      3687
MI     81338
MN     45470
MO     32246
MS     41846
MT      2471
NC     97958
ND      5019
NE     22368
NH      6188
NJ    176814
NM     16736
NV     34477
NY    406374
OH     73822
OK     25057
OR     14149
PA    100241
RI     17793
SC     67396
SD      7862
TN     74361
TX    322724
UT     33334
VA     77430
VT      1338
WA     46026
WI     41485
WV      4983
WY      2108
Name: Total, dtype: int64

In [12]:
# Create chloropleth graph map of states with last date collected as the color
fig = go.Figure(data=go.Choropleth(
    locations=statesDf.index, # Spatial coordinates
    z = statesDf['Total'], # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = 'Reds',
    colorbar_title = "Positive Cases",
))

fig.update_layout(
    title_text = 'Total Positive Covid Cases Per State as of {}'.format(lastUpdated),
    geo_scope='north america', # limit map scope to USA
)

StatesMapPlotDiv=plot(fig)

In [13]:
#Create a line graph of all the states over time
# Prepare the data here, graph in next cell

# Use state level df to create a total column, will be used for line graph of US states
state_levelDf['Total'] = state_levelDf.sum(axis=1)

#Convert index into date
state_levelDf.index = pd.to_datetime(state_levelDf.index.str.replace('_','/'))

# Investigate results at this csv if desired
#state_levelDf.to_csv('state_levelDf.csv')

In [14]:
# Build the line graph and show it
xAxis=state_levelDf.index # set x axis to dates (row indexes)
yAxis=state_levelDf['Total']   # set y axis to values in King County
fig=go.Figure(data=go.Scatter(x=xAxis, y=yAxis))

#Add titles and legends
fig.update_layout(annotations=[dict(text='Source: USAFacts COVID19 dataset, retrieved from bigquery-public-data.covid19_usafacts.confirmed_cases', 
                                    showarrow=False, 
                                    xref='paper', 
                                    yref='paper', 
                                    x=1, 
                                    y=-.1)],
                 title="Total US Covid Cases")
plt_div = plot(fig)

In [15]:
# Build county level choropleth map
# First, get county level data for last recorded day

#keep only last date recorded and county info (first couple rows)
lastCountyData = casesDf.T.iloc[[0,1,2,-1]].T

#Rename last column to "Total"
lastCountyData.rename(columns = {list(lastCountyData)[-1]:'Total'}, inplace=True)
lastCountyData.head()

  county_fips_code            county_name state  Total
0            01073       Jefferson County    AL   8499
1            04013        Maricopa County    AZ  93870
2            00000  Statewide Unallocated    AR   1123
3            06001         Alameda County    CA   9110
4            06013    Contra Costa County    CA   5538

In [16]:
CountyChor = ff.create_choropleth(
    fips=lastCountyData['county_fips_code'], values=lastCountyData['Total'], scope=['usa'],
    show_state_data=False,
    show_hover=True,
    asp = 2.9,
    title_text = 'USA by Unemployment %',
    legend_title = '% unemployed'
)
CountyChor.layout.template = None
county_chor_div = plot(CountyChor)

/Users/michaelcouch/Library/Python/2.7/lib/python/site-packages/plotly/figure_factory/_county_choropleth.py:838: UserWarning:

Unrecognized FIPS Values

Whoops! It looks like you are trying to pass at least one FIPS value that is not in our shapefile of FIPS and data for the counties. Your choropleth will still show up but these counties cannot be shown.
Unrecognized FIPS are: [0, 0, 0, 0, 6000, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]